div.home {
    margin: 1rem 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-width: 800px;
}

div.hero {
    background-image: url('../assets/images/wood-texture.jpg');
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(0, 0, 0, 0.3);
    gap: 2rem;
}

div.hero:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8), inset 0 0 10px rgba(0, 0, 0, 0.3);
}

div.hero-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

h1.hero-heading {
    color: white;
    font-size: 3rem;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

p.subtext {
    color: white;
    font-size: 1.5rem;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: justify;
}

.hero-img-container {
    border-radius: 1rem;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 5px solid #ffffff;
}

.hero-img-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow:
        inset 4px 4px 8px rgba(0, 0, 0, 0.3),
        inset -4px -4px 8px rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

img.hero-img {
    border-radius: 1rem;
    width: 100%;
}